/* All common CSS start */
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Lato", sans-serif;
}
body{
    background: #1e1e1e;
}

ul,ol{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0%;
    padding: 0%;
    line-height: 0.8;
}
/* All common CSS end */
 /* Headerpart start */
.navbar{
    background: #1e1e1e;
    width: 100%;
    /* padding-top: 60px;
    padding-bottom: 150px; */
}
 .nav-item a{
    color: #959595!important;
    font-size: 20px;
    font-weight: medium;
    letter-spacing: 3%;
    padding-left: 15px !important;
    transition: .5s;
 }
 .nav-item a:hover{
 color: #FD6F00 !important;
 }
.hirebtn a{
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3%;
    background: linear-gradient(to bottom right, #FD6F00, #E46400);
    padding: 10px 35px;
    border-radius: 8px;
    border: 2px solid #FD6F00;
     transition: .5s !important;
}
.hirebtn a:hover{
   background: transparent !important;
    color: #E46400 !important;
}
  /* Headerpart end */
   /* banner part start  */
#bannerpart{
    width: 100%;
    padding-top:173px;
}
.bannertext{
    padding-top: 150px;
}
.bannertext h4{
    color: #707070;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3%;
    padding-bottom:20px;
}
.bannertext h3{
    color: #959595;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 3%;
    padding-bottom: 45px;
}
.bannertext h1{
 background: linear-gradient(90deg, #984300 0%, #FD6F00 46%, #CA5900 100%);
  background-clip: text;
  color: transparent;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 3%;
    padding-bottom: 55px;
    display: flex;
}
.bannericon i{
    display: inline-block;
    height: 45px;
    width:45px;
    font-size: 24px;
     color: #BABABA;
    border-radius: 50%;
    border: 1px solid #575757;
    padding-top: 10px;
    margin-right: 20px;
    transition: .8s;
}
.bannericon i:hover{
    color: #FD6F00;
    border: 1px solid #984300;
}
.bannerbtn a{
    margin-top: 61px;
    letter-spacing: 3%;
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to bottom right, #FD6F00, #E46400);
    padding: 10px 35px;
    border-radius: 8px;
     transition: .5s !important;
     border: 2px solid #FD6F00!important; 
     margin-right: 24px;
}
.bannerbtn a:hover{
    border: 2px solid #959595 !important;
    background: transparent !important;
    color: #959595 !important;
}
.bannercounter{
      margin-top: 80px; 
      background: rgba(255, 255, 255, 4%)!important;
    border-radius: 8px;
    padding:25px;
}
.banneritem{
    /* background: rgba(255, 255, 255, 4%)!important; */
 border-right: 2px solid #575757;
    /* text-align: center; */
}
.banneritem h3{
    color: #FD6F00 !important;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 3%;
    padding-bottom: 20px;
}
.banneritem p{
    color: #dfdfdf !important;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3%;
}
.banner image{
    transition: .4s;
    margin-left: 30px; 
    width: 100%;
    justify-content: right;
}
.banner image:hover{
    transform: scale(1.05);
}
.last{
    border: none!important;
}

 /* banner part end */
/* servicepart start */
#servicepart{
 padding-bottom :136px!important;
    
}
.commontext h3{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3%;
    padding-bottom: 30px;
     padding-top: 260px; 
}
.commontext p{
 color: #707070;
    font-size: 20px;
    font-weight: medium;
    letter-spacing: 3%;
    line-height: 160%;
    padding-bottom: 80px;
}
.serviceitem{
   background: rgba(255, 255, 255, 4%)!important;
    border-radius:24px;
    margin-left: 40px;
    padding:34px;
    transition: .5s;
}
.serviceitem:hover{
    transform:scale(1.06);
    box-shadow: 0 0 20px 0 rgba(250, 248, 248, 0.2);
}
.serviceitem{
    margin-top: 40px;
    margin-left: 40px;
     background: rgba(255, 255, 255, 4%)!important;
    border-radius:24px;
    padding: 34px;
    transition: .5s;
}
.serviceitem i{
    font-size: 70px;
    color: #FD6F00;
    padding-bottom: 16px;
}
.serviceitem h3{
    color:#FD6F00 ;
    font-size:24px ;
    font-weight: 700;
    letter-spacing:3% ;
    padding-bottom: 34px;
}
.serviceitem p{
color:#575757 ;
    font-size:20px ;
    font-weight: medium;
    letter-spacing:3% ;
    line-height: 160%;
}

/* servicepart end */